@import url("styles/header.css");
:root{
    --cor-de-fundo:rgb(96, 13, 122);
    --branco:white;
    --degrade:linear-gradient(rgb(221, 35, 44), rgb(33, 1, 33) ); 
}
*{
    margin: 0px;
}
body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400px;
}
.slogam{
    color: rgb(4, 4, 4);
    font-size: 20px;
    /*font-family: 'Fantasy', Arial, sans-serif;*/
    display: none;
}
.logo{
    font-size: 30px;
    display: none;
    text-align: center;
    flex: content;
}