@charset "UTF-8";
body{
    background-color: rgb(255, 240, 250);
}
main{
    background-color: rgb(185, 226, 245);
    margin: auto;
    width: 800px;
    padding: 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
#txt{
    text-align: center;
}
form{
    text-align: center;
}
.btn{
    padding: 20px;
}
img{
    width: 500px;
    height: 300px;
}